/* Estilo para todo el body */
body {
    background: linear-gradient(to right, #0011ff, #e6f7ff); /* Difuminado celeste */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Asegurarse de que ocupe toda la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover; /* Asegurarse de que el fondo cubra toda la pantalla */
}

/* Header con fondo azul celeste */
header#img-uct {
    background-color: #005eff; /* Azul celeste */
    padding: 20px 0; /* Padding superior e inferior de 20px */
    text-align: center; /* Centrar la imagen en el header */
    width: 100%; /* Ancho completo */
    position: absolute;
    top: 0;
    left: 0;
}

/* General container styling */
.conteiner {
    background-color: white;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: left;
}

/* Footer */
.futer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
    position: absolute;
    bottom: 0;
    width: 100%;
}
